<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.alex.androidproject" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/farm"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Cow"
            android:label="Cow_Activity"
            android:parentActivityName=".MainActivity">
        </activity>
        <activity
            android:name=".Chicken"
            android:label="Chicken_Activity"
            android:parentActivityName=".MainActivity">
        </activity>
        <activity
            android:name=".Dog"
            android:label="Dog_Activity"
            android:parentActivityName=".MainActivity">
        </activity>
        <activity
            android:name=".Duck"
            android:label="Duck_Activity"
            android:parentActivityName=".MainActivity">
        </activity>
        <activity
            android:name=".Goat"
            android:label="Goat_Activity"
            android:parentActivityName=".MainActivity">
        </activity>
        <activity
            android:name=".Horse"
            android:label="Horse_Activity"
            android:parentActivityName=".MainActivity">
        </activity>
        <activity
            android:name=".Sheep"
            android:label="Sheep_Activity"
            android:parentActivityName=".MainActivity">
        </activity>
        <activity
            android:name=".Turkey"
            android:label="Turkey_Activity"
            android:parentActivityName=".MainActivity">
        </activity>
    </application>
</manifest>
